.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  min-height: 100vh;
  background-color: white;
}

.heading {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
  background-color: #f6fcff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
}

.searchColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  width: 100%;
  max-width: 320px;
}

.selectWrapper {
  position: relative;
  z-index: 1;
}

.selectWrapperFocused {
  position: relative;
  z-index: 100;
}

.container {
  width: 100%;
}

.label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f6fafd;
  font-size: 1rem;
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.option {
  padding: 0.5rem;
  cursor: pointer;
}

.option:hover {
  background-color: #e0f1fb;
}

.button {
  margin-top: 2rem;
  background-color: #cfe9f8;
  padding: 0.75rem 2rem;
  border-radius: 999px;
  border: none;
  color: #777;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
